@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-first: #53C4BE;
    --color-second: #13696F;
    --color-third: #DA944D;
    --color-four: #4E9DB4;
    --color-footer: #1E1E1E;
}

@layer components {
    .btn-one {
        @apply bg-second text-white py-1 px-5 rounded-xl text-sm cursor-pointer hover:bg-first hover:text-black
    }
}